{% extends "base.html" %}
{% block title %}Add{% endblock title %}
{% block head %}{% endblock head %}
{% block input %}{% endblock input %}
{% block nav %}{% endblock nav %}
{% block main %}
<form method="POST" action="/add">
    <div grid flex>
        <div column no-margin no-wrap size="7">
            <label for="title">Title</label>
            <input error type="text" name="title" id="title">
        </div>

        <div column no-margin no-wrap size="1"></div>

        <div column no-margin no-wrap size="5">
            <label for="artists">Artists(s)</label>
            <input error type="text" name="artists" id="artists">
        </div>

        <div column no-margin no-wrap size="1"></div>

        <div column no-margin no-wrap size="5">
            <label for="authors">Author(s)</label>
            <input error type="text" name="authors" id="authors">
        </div>
    </div>

    <div grid flex>
        <div column no-margin no-wrap size="2">
            <label for="category">Category</label>
            <select name="category" id="category">
                <option value="comic">Comic</option>
                <option value="doujinshi">Doujinshi</option>
                <option value="manga" selected="selected">Manga</option>
            </select>
        </div>

        <div column no-margin no-wrap size="1"></div>

        <div column no-margin no-wrap size="1">
            <label for="pages">Pages</label>
            <input error type="number" name="pages" id="pages">
        </div>

        <div column no-margin no-wrap size="1"></div>

        <div column no-margin no-wrap size="7">
            <label for="series">Series [Optional]</label>
            <input success type="text" name="series" id="series">
        </div>

        <div column no-margin no-wrap size="1"></div>

        <div column no-margin no-wrap size="3">
            <label for="position">Series Position [Optional]</label>
            <input success type="number" name="position" id="position">
        </div>
    </div>

    <div grid flex>
        <div column no-margin no-wrap size="4">
            <label for="parody">Parody(s) [Optional]</label>
            <input success type="text" name="parody" id="parody">
        </div>

        <div column no-margin no-wrap size="1"></div>

        <div column no-margin no-wrap size="8">
            <label for="characters">Character(s) [Optional]</label>
            <input success type="text" name="characters" id="characters">
        </div>
    </div>

    <label for="tags">Tag(s)</label>
    <textarea error type="text" name="tags" id="tags"></textarea>

    <br>

    <input type="submit" value="Submit">
</form>
<script>
    ["title", "artists", "authors", "pages", "tags"].forEach(function (id) {
        var ele = document.getElementById(id);

        ele.addEventListener("input", function (e) {
            if (ele.value) {
              ele.removeAttribute("error");
              ele.setAttribute("success", "");
            } else {
              ele.removeAttribute("success");
              ele.setAttribute("error", "");
            }
        });
    });
</script>
{% endblock main %}