<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | CMC3</title>
    <style>{{ css|safe }}</style>
    <style>[display-inline]{display:inline-block;}@media (min-width: 1048px) {body{padding:1.5rem 0;}}</style>
    {% block head %}{% endblock %}
</head>

<body>
    <div grid flex>
        <div column no-margin size="1"></div>
        <div column flex no-margin no-wrap size="10">
            <div nav primary grow>
                <div section grow>
                    <div item brand>
                        <a href="/">CMC</a>
                    </div>
                </div>
                <div section>
                    <div item>
                        <form method="GET" action="/search"><input name="search" type="search" placeholder="Search" {% block input %}{% endblock %} /></form>
                    </div>
                </div>
            </div>
            {% block nav %}{% endblock %}
            <div main>
                {% block main %}{% endblock %}
            </div>
            <div nav secondary grow background-black>
                <div section grow>
                    <div item><a>Rendered in: {% match duration.num_microseconds() %}{% when Some with (val) %}{{ val }}μs{% when None %}{{ duration.num_milliseconds() }}ms{% endmatch %}</div></a>
                </div>
                <div section>
                    <div item><a href="/">v{{ version }}</a></div>
                </div>
            </div>
        </div>
        <div column no-margin size="1"></div>
    </div>
</body>

</html>