{% extends "base.html" %}
{% block title %}{{ comic.title }}{% endblock title %}
{% block head %}{% endblock head %}
{% block input %}{% endblock input %}
{% block nav %}{% endblock nav %}
{% block main %}
<article flex flex-column>
    <a href="/comic/{{ comic.id }}">
        <img class="image" src="/static/{{ comic.id }}/1-small.png">
    </a>
    <div panel>
        <h3 head><a class="title" href="/comic/{{ comic.id }}">{{ comic.title }}</a> by {{ comic.artists|join(", ")|safe }}</h3>
        <div body>
            <p>Category: {{ comic.category|safe }}</p>
            <p>Parody: {{ comic.parodies|join(", ")|safe }}</p>
            <p>Characters: {{ comic.characters|join(", ")|safe }}</p>
            <p>Tags: {{ comic.tags|join(", ")|safe }}</p>
        </div>
    </div>
</article>
{% for page in 1..=comic.pages %}
<article display-inline>
    <a href="/comic/{{ comic.id }}/page/{{ page }}">
        <img class="image" src="/static/{{ comic.id }}/{{ page }}-small.png" style="height:100px;">
    </a>
</article>
{% endfor %}
{% endblock main %}