{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block head %}{% endblock head %}
{% block input %}{% if search.is_some() %}value="{{ search.as_ref().unwrap() }}"{% endif %}{% endblock input %}
{% block nav %}{% endblock nav %}
{% block main %}
{% for comic in comics %}
{% if (loop.index0 % 2) == 1 %}
    <div column flex no-margin no-wrap size="6">
        <article flex flex-column>
            <a href="/comic/{{ comic.id }}">
                <img class="image" src="/static/{{ comic.id }}/1-small.png" style="height:100px;">
            </a>
            <div panel>
                <h3 head><a href="/comic/{{ comic.id }}">{{ comic.title }}</a> by {{ comic.artists|join(", ")|safe }}</h3>
                <div body>
                    <p>Category: {{ comic.category|safe }}</p>
                    <p>Parody: {{ comic.parodies|join(", ")|safe }}</p>
                    <p>Characters: {{ comic.characters|join(", ")|safe }}</p>
                    <p>Tags: {{ comic.tags|join(", ")|safe }}</p>
                </div>
            </div>
        </article>
    </div>
</div>
{% else %}
<div grid style="flex-wrap: wrap;">
    <div column flex no-margin no-wrap size="6">
        <article flex flex-column>
            <a href="/comic/{{ comic.id }}">
                <img class="image" src="/static/{{ comic.id }}/1-small.png" style="height:100px;">
            </a>
            <div panel>
                <h3 head><a href="/comic/{{ comic.id }}">{{ comic.title }}</a> by {{ comic.artists|join(", ")|safe }}</h3>
                <div body>
                    <p>Category: {{ comic.category|safe }}</p>
                    <p>Parody: {{ comic.parodies|join(", ")|safe }}</p>
                    <p>Characters: {{ comic.characters|join(", ")|safe }}</p>
                    <p>Tags: {{ comic.tags|join(", ")|safe }}</p>
                </div>
            </div>
        </article>
    </div>
    {% if loop.index0.is_even() && loop.last %}
    <div column flex no-margin no-wrap size="6"></div>
</div>
    {% endif %}
{% endif %}
{% endfor %}
{% endblock main %}