{% extends "base.html" %}
{% block title %}{{ page }} | {{ comic.title }}{% endblock title %}
{% block head %}{% if page != comic.pages %}<link rel="prefetch" href="/static/{{ comic.id }}/{{ next }}.png" />{% endif %}{% endblock head %}
{% block input %}{% endblock input %}
{% block nav %}
<div nav secondary grow>
    <div section grow>
        <div item>
            <a href="/comic/{{ comic.id }}">Index</a>
        </div>
    </div>
    <div section>
        <div item>
            <a href="{% if page != 0 %}/comic/{{ comic.id }}{% else %}/comic/{{ comic.id }}/page/{{ prev }}{% endif %}">Prev</a>
        </div>
        <div item>
            <a href="#">{{ page }} / {{ comic.pages }}</a>
        </div>
        <div item>
            <a href="{% if page == comic.pages %}/comic/{{ comic.id }}{% else %}/comic/{{ comic.id }}/page/{{ next }}{% endif %}">Next</a>
        </div>
    </div>
</div>
{% endblock nav %}
{% block main %}
<a href="{% if page == comic.pages %}/comic/{{ comic.id }}{% else %}/comic/{{ comic.id }}/page/{{ next }}{% endif %}">
    <img style="margin:0 auto;width:100%;" src="/static/{{ comic.id }}/{{ page }}.png">
</a>
{% endblock main %}